

.alert
{
	margin: 20px;
}

h1 
{
	font-family: 'Cormorant Unicase', serif;
}

h6
{
	font-family: 'Cormorant Infant', serif;
}

#interface
{
	position: fixed;
}

#title-block
{
	text-align: center;
	width: 100vw;
	
	margin-top: 40vh;
	padding-right: 30px;
	padding-left: 30px;
	vertical-align: center;
	position: absolute;
}


.btn 
{
	margin: 2px;
}