.alert
{
	margin: 20px;
}

h1 
{
	font-family: 'Cormorant Unicase', serif;
}

h6
{
	font-family: 'Cormorant Infant', serif;
}

#jpLogoWhite.png

#navbar
{
	position: absolute;
}

#icon
{
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
}

#title-block
{
	text-align: center;
	width: 100vw;
	margin-top: 35vh;
	padding-right: 30px;
	padding-left: 30px;
	vertical-align: center;
	position: absolute;
}

.btn 
{
	margin: 2px;
}

#crDate
{
	font-family: 'Cormorant Infant', serif; 
}

#footer
{
	padding: 10px;
	background-color: #F5F5F5;
	height: 60px;
}